fastapi
uvicorn[standard]
sqlmodel
typer
dynaconf
jinja2
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
google 
google-genai
dotenv
pydantic>=2.4.2
google-generativeai>=0.3.0
python-dotenv>=1.0.0
openai>=1.3.0
tiktoken>=0.5.0
numpy
opencv-python
pillow
paddlepaddle
paddleocr
lama_cleaner
diffusers==0.14.0 
transformers==4.26.0 
huggingface-hub==0.25.0 