opencv-python
matplotlib
pillow
numpy
paddlepaddle
paddleocr
google
openai
google-genai
python-dotenv
lama_cleaner
segment_anything
diffusers==0.14.0 
transformers==4.26.0 
huggingface-hub==0.25.0 
torch
torchvision
torchaudio
fastapi
uvicorn[standard]
python-multipart   
jinja2              
sqlalchemy          
pydantic